body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
    width: 500px;
    padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.container>div{
  width: 500px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
.remove-btn {
  margin-right: 0.5rem;
}
@keyframes dropdown {
  0% {
    background-color: white;
  }

  100% {
    background-color: green;

  }

}


.item{
  padding: 20px;
  width: 350px;
  border: 1px solid gray;
  margin: 10px;
  position: absolute;
  transition: width 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.3s ease-out;
}

.item.active{
  width: 350px;
}
.item.active.bottom{
  background-color: #d09e9e;
}
.item.active.top{
  background-color: #95b795;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  background-color: red;
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
}

.animate{
  animation-name: example;
  animation-duration: 1s;
}
@keyframes example {
  from { opacity: 0}
  to {opacity: 1}
}
.me{
   background-color: bisque;
}
